<% if @uploads %>
  <h2> Uploads </h2>
    <% @uploads.each do |upload| %>
      <div>
        <table>
          <tr>
            <th><%= upload.name %></th>
            <th>Last Viewed</th>
          </tr>
          <% upload.links.each do |link| %>
            <tr>
              <td><%= link_to link.id, link %></td>
              <td><%=link.last_viewed %></td>
            </tr>
          <% end %>
        <table>
      </div>
      <%= button_to "Generate link for #{upload.name}", {:controller => "links", :action => "create", :upload_id => upload.id, :method => :post}  %>
    <% end %>

<% else %>
  <h2>Press button below to upload a file<h2>
<% end %>
<div class="new-upload">
  <%= button_to 'New Upload', {:controller => "uploads", :action => "create", :method => :post}  %>
</div>